body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    background-color: white;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    height: 100vh;
}
.column {
    display: flex;
    flex-direction: column;
    width: calc(50% - 70px);
    box-sizing: border-box;
    overflow-y: hidden;
    height: calc(100vh - 40px);
    transition: width 0.5s ease, margin 0.5s ease;
    margin: 0 20px;
    /* margin-left: 60px; */
}
.middle {
    position: relative;
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: pointer;
    background-color: white;
    /* padding: 0 10px; */
    padding: 20px 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
}
.middle:hover {
    text-decoration: underline;
}
.info {
    display: none;
    width: 0;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
    max-height: 100%;
    box-sizing: border-box;
    transition: width 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}
.m-scroll {
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    animation: scrollText 10s infinite linear;
    margin: 0;
    font-size: 0;
    /* display: flex; */
    justify-content: space-between;
    width: fit-content;
  }

.scroll-container {
    display: flex;
    flex-direction: column;
    animation: scrollImages 20s linear infinite;
    padding-bottom: 100%;
}

@keyframes scrollImages {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}